body {/*this code takes out the space and padding in the html canvas code in the index page*/
    margin: 0;
    padding: 0;
}

#game-screen{/*the code takes out the scrole bars on the sides of thee screen*/
    display: block;
}