body {/*this code takes out the space and padding in the html canvas code in the index page*/
    margin: 0;
    padding: 0;
}

#game-screen{/*the code takes out the scrole bars on the sides of thee screen*/
    display: block;
}

#gameOver, #playHUD{
    position: absolute;
    visibility: hidden;
}

h1, h2, h3 {
    font-family: 'Paytone One', sans-serif;
    color:black;
    text-align: center;
}

.title{
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton{
    border:2px solid black;
    border-radius: 10px;
}

#restartButton:hover{
    background-color: #000990
}

#scoreboard{
    margin:0px;
}